<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国联通</title>
</head>
<body>
<h1>中国联通</h1>
<div> <span style="color : blue">时间</span>
        <span>2022-11-11</span></div>
<div>
中国联通的公司标识是由中国古代吉祥图形“盘长”纹样演变而来。回环贯通的线条，象征着中国联通作为现代电信企业的井然有序、迅达畅通以及联通事业的无以穷尽，日久天长。 标志造型有两个明显的上下相连的“心”，它形象地展示了中国联通的通信、通心的服务宗旨，将永远为用户着想，与用户心连着心。
</div> <a href="/get/news"> 跳转至/get/news</a>
<img src = "/static/ty.png" height="150" ; width="100"  >
<h1>中国铁路</h1>
<div>
    <span style="color : blue"> 时间</span>
    <span>2022-12-12</span>
</div>
<div>
 <span>1.3月10日至12日加开成都东-绵阳C9182次,成都07:22开,绵阳08:05到。
2.3月10日至12日加开绵阳-泸州G9561次,绵阳08:41开,泸州11:35到。
3.3月10日至12日加开泸州-成都东G9562次,泸州11:56开,成都东13:45到。
4.3月10日至12日加开成都东-泸州G9563次,成都东14:27开,泸州16:21到。
5.3月10日至12日加开泸州-成都东G9564次,泸州16:45开,成都东18:16到。
详情请以车站公告为准,若有疑问请致电铁路客服热线028-12306咨询。欢迎关注微信公众号“成都铁路12306”或下载使用“智慧成铁APP”享受一站式出行服务,在线查询时刻,余票,列车正晚点信息。
</span>
</div>
<h1>图片连接</h1>
<a href = "https://www.mi.com/shop/buy/detail?product_id=17972"  target="_blank">
    <img src="/static/a1.png" style="height: 100px">
</a>
<a href = "https://www.mi.com/shop/buy/detail?product_id=17969" target="_blank" >
    <img src = "/static/a2.png" style="height: 100px">
</a>
<a href = "https://www.mi.com/shop/buy/detail?product_id=17971" target="_blank">
    <img src = "/static/a3.png" style="height: 100px">
</a>

<h1> 运营商</h1>
<!--无序-->
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>
<!--    有序-->
    <ol>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ol>

<h1>表格</h1>
    <table border="0.5" style="color: #3c58e4">
        <thead>
        <tr>
            <th>ID</th> <th>name</th> <th>age</th>
        </tr>
        </thead>
        <tbody>
            <tr>  <td>1</td> <td>tom</td> <td>18</td>        </tr>
            <tr>    <td>2</td> <td>any</td> <td>189</td> </tr>
             <tr>      <td>3</td> <td>tom1</td> <td>182</td> </tr>


        </tbody>
<h1>输入、选择框</h1>
        <input type="text">
        <input type="password"> 冰壶
        <input type="checkbox"> 棒球
        <input type="checkbox"> 乒乓球
        <input type="checkbox"> 羽毛球
        <input type="checkbox"> 足球
        <input type="checkbox"> 篮球 <br/>
        男<input type="radio" name="1">
        女<input type="radio" name="1">
        <input type="button" value="提交" >
        <input type="submit" value="提交">
        <input type="file">
        <input type="email">
        <div>
    城市：
        <select>
            <option>北京</option>
            <option>上海</option>
            <option>广东</option>
            <option>浙江</option>


        </select>
</div><div>
    擅长领域：
        <select multiple>
            <option>打游戏</option>
            <option>爬山</option>
            <option>游泳</option>
            <option>打球</option>
        </select>
</div>
<div>
    备注:<textarea>

        </textarea>
</div>
<div>
    <input type="submit" name="提交">
    <input type="button" name="提交">

</div>
<h1>注册</h1>
<a href="/register">注册</a>


    </table>
</body>
</html>